<% provide(:title, 'About us') %>
<h1>About us</h1>
<p>


About Us:

Dishavatar is a startup in making under the broader goals and vision of thebraintraincompany.com which has the single most important focus of creating system and education worldwide for preparing nurturing "humane and genius" quality humans for the future through use of modern ancient technologies and research

We envisage bulk of our profits from profit ventures to be used for Socially productive projects such as Futuristic schools 

email enqueries :dishavatarindia@gmail.com
SMS queries at 0091-8750500235

</p>
