<% provide(:title, 'Advertise') %>
<h1>Advertise</h1>
<p>

Please await further information on advertising policy

Contact us:

Contact SMS  your interest and details at 0091- 8750500235

email:dishavatarindia@gmail.com</a>.
</p>
