<% provide(:title, 'News') %>
<h1>News</h1>
<p>


Please visit this page to check on 
<ol>

Banned accounts
Advertisement policy developments
Works in progress
Investor opportunities
Maintenance announcements
</ol>
</p>
