<% provide(:title, 'Privacy Policy') %>
<h1>Privacy Policy</h1>
<p>

1. User agrees to use our wbesite by logging in from his/her facebook or twitter or any social media account at his her own risk in agreement with relevant social media rules and regulations.

2.Dishavatar.com does not and will not share any private information with any agency or organization or public .however it does not take any libility for private information of user accounts leaked or hacked by external agencies or individuals

2.No libility for damages financial or otherwise incurred as result of using services -paid or free- provided by Dishavatar.com or any of its users/clients/biz partners etc unless explicity stated

</p>
